# object files
*.o

# compilation target
src/main

# udp data output
data/*

# parsed data output
*.csv

# macOS folders
.DS_Store

# pycache
__pycache__/
.pytest_cache

# R stuff
.Rhistory

# vscode stuff
.vscode
.Rproj.user
